第一題.txt
[
    {
        "id": "7137988e.91caa8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "642e441b.12fb5c",
        "type": "rpi-gpio in",
        "z": "7137988e.91caa8",
        "name": "",
        "pin": "11",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "7f7b412e.c20cc",
                "ed988814.997958"
            ]
        ]
    },
    {
        "id": "7f7b412e.c20cc",
        "type": "switch",
        "z": "7137988e.91caa8",
        "name": "if input 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "703e2a22.1e4974"
            ],
            [
                "b607d3b3.9c73d"
            ]
        ]
    },
    {
        "id": "703e2a22.1e4974",
        "type": "change",
        "z": "7137988e.91caa8",
        "name": "change 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "572f6b7a.301a04"
            ]
        ]
    },
    {
        "id": "b607d3b3.9c73d",
        "type": "change",
        "z": "7137988e.91caa8",
        "name": "change 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "572f6b7a.301a04"
            ]
        ]
    },
    {
        "id": "572f6b7a.301a04",
        "type": "rpi-gpio out",
        "z": "7137988e.91caa8",
        "name": "",
        "pin": "7",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "ed988814.997958",
        "type": "debug",
        "z": "7137988e.91caa8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 280,
        "y": 140,
        "wires": []
    }
]